{% extends 'family/layout_pdf.html.twig' %}

{% block content %}
    {% set now =  'now'|date('Y') %}
    {% set months =  'now'|date('m') %}

    <h3>Najpopularniejsze imiona wśród dzieci</h3>
    {% for mostOccurrencesChildName in mostOccurrencesChildNames %}
    <h4>{{ mostOccurrencesChildName['name'] }} - {{ mostOccurrencesChildName['count'] }} times</h4>
    {% endfor %}

    <h3>Średni wiek dzieci</h3>
    <h4>{{ ageAvg['childAvg']|number_format(2, '.') }}</h4>

    <h3>Średni wiek rodziców</h3>
    <h4>Father: {{ ageAvg['fatherAvg']|number_format(2, '.') }}</h4>
    <h4>Mother: {{ ageAvg['motherAvg']|number_format(2, '.') }}</h4>

    <h3>Średnia liczba dzieci w rodzinie</h3>
    <h4>{{ childrenAvg|number_format(2, '.') }}</h4>

    <h3>Lista najliczniejszych rodzin</h3>
    {% for biggestFamily in biggestFamilies %}
        <h4>{{ biggestFamily['family_name'] }} - {{ biggestFamily['count'] }} persons</h4>
    {% endfor %}

    <h3>The Oldest Fathers</h3>
    {% for oldestFather in oldestFathers %}
        {% set fatherYear = oldestFather['fatherDateOfBirth']|date('Y') %}
        <h4>{{ oldestFather['fatherName'] }} {{ now - fatherYear }} years</h4>
    {% endfor %}

    <h3>The Oldest Mothers</h3>
    {% for oldestMother in oldestMothers %}
        {% set motherYear = oldestMother['motherDateOfBirth']|date('Y') %}
        <h4>{{ oldestMother['motherName'] }} {{ now - motherYear }} years</h4>
    {% endfor %}

    <h3>The Youngest Children</h3>
    {% for youngestChild in youngestChildren %}
        {% set childYear = youngestChild['date_of_birth']|date('m') %}
        <h4>{{ youngestChild['name'] }} {{ months - childYear }} months</h4>
    {% endfor %}
    <hr/>
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}

{% endblock %}

